<?xml version="1.0" encoding="UTF-8"?>
<suite name="Mytest">//To run bundle of Test cases
<test name="Mytestsample" parallel="methods" thread-count="2">
<groups>
<run>
<include name="openbrowser"/>
</run>
</groups>
<classes>

<class name= "testngsample.ParallelExecution"/>
<!-- <class name= "testngsample.Dependencies"/>//packagename.classname(Is called as fully qualified calls name)
<class name= "testngsample.Setpriority"/> --> (control+shift+forward slash for comment)
<!-- <class name= "testngsample.Grouping"/> -->
</classes>
</test>

</suite>